apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-a-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app-a
  template:
    metadata:
      labels:
        app: app-a
    spec:
      containers:
        - name: app-a-main
          image: node:18
          ports:
            - containerPort: 3000
        - name: app-a-sidecar
          image: prom/prometheus
          ports:
            - containerPort: 9090
